body{
    background-image: url(../img/bg-border.jpg);
    background-size: cover;
    background-attachment: local;
    color: white;
}

.forum{
    text-align: center;
    width: 1500px;
    margin: 0 auto;
}

.col-3{
    position: absolute;
    text-align: center;
    left:0;
    right:0;
    margin: 0 auto;
    top: 30%;
}


.dropdownmenu{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    vertical-align: top;
    text-align: center;
    font-size: 30px;
    top: 100px;
    margin: 15px;
}


.patches{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    vertical-align: top;
    text-align: center;
    font-size: 30px;
    top: 100px;
    margin: 15px;
}

.dropdown-content{
    display: none;
    border: 3px double purple;
    
}

.patches:hover .dropdown-content{
    display: block;
}

.forum-content{
    position: relative;
    /* display: inline-block;*/
    float: left;
    top: 200px;
    color: white;
    width: 100%;
    border: 3px double purple;
    margin: 5px;
}

.news-title{
    text-align: left;
    font-size: 25px;
}

.news-cat{
    text-align: right;
    font-size: 15px;
}